<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="SQLConnectionString" connectionString="Data Source=AMIT-LT72\SQLEXPRESS;Initial Catalog =SmartDataDB;User ID=sa;Password=pctadmin$1234; Integrated Security=false;" />
	</connectionStrings>

	<appSettings>
		<add key="EnableLogs" value="true" />
		<add key="EnableExtraLogs" value="false" />
		<add key="folderPath" value="C:\Users\rahul\Downloads\KTA DOCUMENTS SHARED FOLDER" />

		<!-- customtime, shiftend-->
		<add key ="syncType" value="shiftend" />

		<!--HH:MM:SS-->
		<add key="starttime"  value ="12:00:00" />
	</appSettings>
</configuration>